h2 {
    color: cadetblue;
    font-size: 20 px;
    font-style: italic;
    text-align: center;
}

.solid {
    border: 4px solid black;
}
.dashed {
    border: 4px dashed cornflowerblue
}
.dotted {
    border: 4px dotted aqua;
}
